@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";
@import "themes/green";

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
}

.content-page {
  position: relative;
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}
