.modal {
  div[class*="content"] {
    background-color: #182d31;
    color: white;
  }

  .root {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 50vh;
    min-width: 400px;

    .header {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 20px;

      div {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2a5259;
        box-shadow: 0px 3px 0px 0px rgba(16, 30, 44, 0.2);
        backdrop-filter: blur(2px);
        cursor: pointer;
      }
    }

    .content {
      width: 100%;
      height: 300px;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;

      .bed-desired-plant {
        padding: 10px 12px;
        border-radius: 4px;
        border: 0px solid var(--Svoe, #ffe03d);

        background: rgba(16, 30, 44, 0.6);

        backdrop-filter: blur(2px);
        color: #c2d99b;
        text-shadow: 0px 1px 6px rgba(55, 255, 59, 0.4);

        cursor: pointer;

        &:hover {
          filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 20px;
      display: flex;
      gap: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .plant-icon {
    height: 48px;
    width: 48px;
    border: 2px #ffe03d solid;
    border-radius: 24px;
    display: flex;
    align-items: end;
    filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
    background-color: #2a5259;

    svg {
      width: 120%;
      height: 120%;
      aspect-ratio: auto;
    }

    &.active {
      pointer-events: all;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(2px 2px 0px #0dff11)
          drop-shadow(-2px 2px 0px #0dff11) drop-shadow(-2px -2px 0px #0dff11)
          drop-shadow(2px -2px 0px #0dff11);
      }
    }
  }
}

.bed {
  cursor: pointer;

  &.success {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
    drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
  }

  &.wrong {
    filter: drop-shadow(2px 2px 0px red) drop-shadow(-2px 2px 0px red)
    drop-shadow(-2px -2px 0px red) drop-shadow(2px -2px 0px red);
  }

  g {
    display: none;
  }

  &.sprouts {
    g {
      display: unset;
    }
  }
}

.coin {
  position: absolute;
  width: 64px;
  animation: bounce 2s forwards;
  transform-origin: center bottom;
}

@keyframes bounce {
  from,
  33%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  20%,
  23% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -200px, 0) scaleY(1.1);
  }

  50% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -100px, 0) scaleY(1.05);
  }

  60% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -50px, 0) scaleY(1.02);
  }

  80% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, 0, 0);
  }
}
