.FarmPage {
  position: relative;
  // INFO: это нужно для того чтобы работал
  // горизонтальный скролл в дочернем компоненте карты
  display: inline-block;
  background: linear-gradient(0deg, #5abf5c 0%, #5abf5c 100%),
    linear-gradient(0deg, var(--White, #fff) 0%, var(--White, #fff) 100%),
    linear-gradient(180deg, #c7eac7 0%, #4cb24e 100%);
}

g[id="big_house"] {
  &:hover {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
      drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    cursor: pointer;
  }
}

g[id^="bed"] {
  & > g {
    display: none;
  }

  &.carrot {
    g[id^="carrot"] {
      display: unset;
    }
  }

  &.potato {
    g[id^="potato"] {
      display: unset;
    }
  }

  &.beet {
    g[id^="beet"] {
      display: unset;
    }
  }

  &.flower {
    g[id^="flower"] {
      display: unset;
    }
  }

  &.wheat {
    g[id^="wheat"] {
      display: unset;
    }
  }

  &.field {
    g[id^="field"] {
      display: unset;
    }
  }

  &:hover {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
      drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    cursor: pointer;
  }
}

g[id^="pigs"] {
  & {
    display: none;
  }

  &.piganimal {
    display: unset;
  }

  &:hover {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
      drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    cursor: pointer;
  }
}

g[id^="hen-house"] {
  & {
    display: none;
  }

  &.henanimal {
    display: unset;
  }

  &:hover {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
      drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    cursor: pointer;
  }
}

g[id^="sheeps"] {
  & {
    display: none;
  }

  &.sheepanimal {
    display: unset;
  }

  &:hover {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
      drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    cursor: pointer;
  }
}

g[id^="cows"] {
  & {
    display: none;
  }

  &.cowanimal {
    display: unset;
  }

  &:hover {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
      drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    cursor: pointer;
  }
}

.task {
  position: absolute;

  .card {
    width: fit-content;
    cursor: pointer;

    //&:hover {
    //  cursor: pointer;
    //  background: rgba(16, 30, 44, 0.8);
    //  box-shadow:
    //    0px 3px 0px 0px rgba(16, 30, 44, 0.2),
    //    0px 1px 6px 0px rgba(55, 255, 59, 0.4);
    //  backdrop-filter: blur(2px);
    //  color: #40dd43;
    //  text-shadow: 0px 1px 6px rgba(55, 255, 59, 0.4);
    //}
  }
}

.tutorialMode {
  z-index: 1;
  pointer-events: none;
}
