:root {
    --font-family-main: "Golos Text", serif;
    --font-size-s: 16px;
    --font-line-s: 24px;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --font-bold: 600;

    // Размеры
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // z - Индексы
    --modal-z-index: 10;
    --notification-z-index: 100;

    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #ce0505;
    --green-light: #42ab44;
    --green-extra-light: #E7F6E7;
    --light: #ffffff;
    --dark: #101E2C;
    --game-bg: #F5F7F9;
    --yellow-light: #FFF1C1;

    //Тени
    --shadow-m: 0px 4px 25px rgba(0, 0, 0, 0.07);
}
