.modal {
  .root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      position: relative;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 24px;
      font-weight: var(--font-bold);
      margin-bottom: 24px;
    }

    .back-icon {
      position: absolute;
      left: 0;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .text {
        text-align: center;
        font: var(--font-size-m);
        line-height: var(--font-line-m);
        margin-bottom: 16px;
        max-width: 300px;
      }

      .main-text {
        font-weight: var(--font-bold);
        font-size: 20px;
        margin-bottom: 16px;
      }

      .price {
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 60px;
        padding: 12px;
        background-color: var(--yellow-light);
        margin: 8px 0 32px 0;

        font-size: 24px;
      }

    }

    .footer {
      display: flex;
      flex-direction: row;
      gap: 20px;

      button {
        flex: 0 1 100%;
      }
    }
  }
}

.coin {
  position: absolute;
  width: 64px;
  right: 20px;
  animation: bounce 2s forwards;
  transform-origin: center bottom;
}

@keyframes bounce {
  from,
  33%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  20%,
  23% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -200px, 0) scaleY(1.1);
  }

  50% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -100px, 0) scaleY(1.05);
  }

  60% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -50px, 0) scaleY(1.02);
  }

  80% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, 0, 0);
  }
}

.image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 211px;
  background: darkmagenta;
  border-radius: 24px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    height: 150px;
  }
}

.img {
  height: 80px;
}

.text-coin {
  margin-left: 5px;
}
