.plant {
  position: relative;
  height: 48px;
  width: 48px;
  border: 2px #ffe03d solid;
  border-radius: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: var(--bg-secondary-color);
  margin-bottom: 20px;

  svg {
    width: 120%;
    height: 120%;
    aspect-ratio: auto;
  }

  &.active {
    pointer-events: all;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
        drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    }
  }
}

.plant-image {
  height: 120%;
  cursor: pointer;
}

.disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.text {
  position: absolute;
  top: 50px;
}

.link {
  position: absolute;
  top: 50px;
  filter: grayscale(0);
}

.product-card {
  position: absolute;
  bottom: 60px;
  left: -40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s opacity;

  &--show {
    opacity: 1;
    visibility: visible;
  }
}
