.modal {
  div[class*="content"] {
    background-color: var(--bg-color);
    color: white;
  }

  .root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    min-height: 51vh;

    @media (min-width: 768px) {
      min-width: 400px;
    }

    .header {
      position: relative;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .back-button {
      position: absolute;
      left: 0;
    }

    .title {
      font-size: var(--font-size-l);
      color: var(--text-primary-color);
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 14px;

      padding: 12px;
      border-radius: 24px;

      .bed-desired-plant {
        padding: 10px 12px;
        border-radius: 4px;
        border: 0px solid var(--Svoe, #ffe03d);

        background: rgba(16, 30, 44, 0.6);

        backdrop-filter: blur(2px);
        color: #c2d99b;
        text-shadow: 0px 1px 6px rgba(55, 255, 59, 0.4);

        cursor: pointer;

        &:hover {
          filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
        }
      }
    }

    .footer {
      gap: 32px;
      display: flex;
      flex-direction: column;

      .plants {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }

      .shop-icon {
        margin-right: 8px;
      }
    }

    .link {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      justify-content: center;
      align-items: center;
    }
  }
}

.bed {
  cursor: pointer;

  &.success {
    filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
    drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
  }

  &.wrong {
    filter: drop-shadow(2px 2px 0px red) drop-shadow(-2px 2px 0px red)
    drop-shadow(-2px -2px 0px red) drop-shadow(2px -2px 0px red);
  }

  g {
    display: none;
  }

  &.sprouts {
    g {
      display: unset;
    }
  }
}

.coin {
  position: absolute;
  width: 64px;
  animation: bounce 2s forwards;
  transform-origin: center bottom;
  z-index: 1;
}

@keyframes bounce {
  from,
  33%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  20%,
  23% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -200px, 0) scaleY(1.1);
  }

  50% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -100px, 0) scaleY(1.05);
  }

  60% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -50px, 0) scaleY(1.02);
  }

  80% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, 0, 0);
  }
}

.description {
  color: var(--text-primary-color);
  max-width: 400px;
  text-align: center;

  @media (max-width: 768px) {
    max-width: 300px;
  }
}

.additional-text {
  color: var(--text-primary-color);
  font-size: 12px;
  line-height: 15px;
  max-width: 400px;

  @media (max-width: 768px) {
    max-width: 300px;
  }
}