.Greeting {
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgb(0%, 0%, 0%, 0.8);
}

.GreetingBoy {
  position: fixed;
  left: 0;
  bottom: 0;

  @media (max-width: 768px) {
    height: 135px;
  }
}

.GreetingGirl {
  position: fixed;
  right: 0;
  bottom: 0;

  @media (max-width: 768px) {
    height: 135px;
  }
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -60%);
  background: #ffffff;
  width: 550px;
  height: 500px;
  border-radius: 32px;

  @media (max-width: 768px) {
    width: auto;
    min-width: 320px;
  }

  .title {
    justify-content: center;
    line-height: 30px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .text {
    margin-top: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 16px;
      margin-top: 8px;
    }
  }

  .button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
