.Greeting {
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgb(0%, 0%, 0%, 0.8);
}

.GreetingBoy {
  position: fixed;
  left: 0;
  bottom: 0;

  @media (max-width: 768px) {
    //height: 135px;
    display: none;
  }
}

.GreetingGirl {
  position: fixed;
  right: 0;
  bottom: 0;

  @media (max-width: 768px) {
    //height: 135px;
    display: none;
  }
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 32px;
  max-width: 360px;

  @media (max-width: 768px) {
    width: auto;
    min-width: 320px;
  }

  .header {
    border-radius: 32px;
    background: linear-gradient(162.03deg, #7B64F1 0%, #EFEBFF 96.62%);
    padding: 24px;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 0;
  }

  .body {
    border-radius: 32px;
    padding: 24px;
    background: #FFFFFF;
  }

  .advantages {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 8px;

    &-item {
      position: relative;
      background: #F6F7F8;
      border-radius: 16px;
      padding: 16px;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: url("src/shared/assets/icons/checkmark-24-24.svg");
        height: 24px;
        width: 24px;
      }
    }
  }

  .text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 40px
  }

  button {
    display: block;
    border-radius: 16px;
    border: none;
    height: 48px;
    background: white;
    color: #1ccb01;
    cursor: pointer;

    &.play {
      margin-top: 16px;
      background: #1ccb01;
      color: white;
      width: 100%;
    }
  }
}
