.RatingLoader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rating {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 20px;
}

.ratingHeading {
  margin-bottom: 20px;
}

.ratingCardsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
}