.ModalButton {
    cursor: pointer;
    color: var(--text-primary-color);
    padding: 14px 0;
    border-radius: 16px;
    width: 188px;

    @media (max-width: 768px) {
        width: 140px;
    }
}

.outline {
    border: none;
    color: var(--text-primary-color);
    background: #EFEFEF;
}

.background {
    background-color: var(--dark);
    color: var(--light);
    border: none;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;

    &:hover {
        background-color: rgba(44, 3, 3, 0.15);
        color: var(--dark);
    }
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}
