.Item {
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  @media (max-width: 768px) {
    height: auto;
  }
}

.text {
  font: var(--font-m);
  font-weight: var(--font-bold);

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.tutorialMode {
  opacity: 0.2;
}

.fertilizer {
  height: 32px;
  cursor: pointer;

  @media (max-width: 768px) {
    height: 25px;
  }
}

.product-card {
  z-index: 100;
  position: absolute;
  top: 55px;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s opacity;

  @media (max-width: 768px) {
    top: 0;
    left: 55px;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }
}