.survey-modal > div > div:first-child {
  margin: 20px;
  max-width: 500px;
}

.survey-modal {
  div[class*="content"] {
    background-color: var(--bg-color);
    color: white;
  }

  .root {
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    overflow-y: auto;

    @media (max-width: 768px) {
      gap: 12px;
    }

    .header {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      div {
        min-width: 48px;
        min-height: 48px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-secondary-color);
        cursor: pointer;
      }
    }

    .title {
      font-size: var(--font-size-l);
      color: var(--text-primary-color);

      @media (max-width: 768px) {
        font-size: var(--font-size-m);
      }
    }

    .content {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      gap: 12px;

      .description {
        color: var(--text-primary-color);

        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 16px;
        }
      }

      .questions {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .item {
          display: flex;
          width: 100%;
          padding: 14px 18px;
          align-items: center;
          justify-content: space-between;
          gap: 12px;

          border-radius: 24px;
          background: var(--bg-dark-color);

          @media (max-width: 768px) {
            padding: 10px;
          }

          .question-text {
            font-size: var(--font-size-s);
            line-height: var(--font-line-s);
            color: var(--text-primary-color);

            @media (max-width: 768px) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }

      .answers {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;
        padding: 8px;
        width: 100%;

        border-radius: 22px;
        background: var(--bg-dark-color);

        &-badge {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          padding: 8px;
          border-radius: 16px;
          background: linear-gradient(180deg, #7289ad 0%, #5b7091 100%), #5b7091;
          color: white;
          cursor: pointer;
          transform: translate(0, 0);
          font-size: 12px;
          height: 40px;
          min-width: 130px;
          line-height: var(--font-line-s);
          text-align: center;

          @media (max-width: 768px) {
            min-width: 100px;
            line-height: 12px;
            font-size: 10px;
          }

          &__green {
            background: linear-gradient(180deg, #5db476 0%, #4d9160 100%),
              #4d9160;
            box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
          }

          &__light-green {
            background: #374151;
            color: #53d076;
          }

          &__red {
            background: linear-gradient(180deg, #f28a80 0%, #af5d55 100%),
              #dd6b60;
            box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
          }

          &__light-red {
            background: #374151;
            color: #f8887d;
          }

          &__empty {
            min-width: 130px;
            background: rgba(28, 40, 58, 0.4);
            color: transparent; /* make the text invisible */
            user-select: none; /* prevent selection of the text */

            @media (max-width: 768px) {
              min-width: 100px;
            }
          }
        }
      }

      .bed-desired-plant {
        padding: 10px 12px;
        border-radius: 4px;
        border: 0px solid var(--Svoe, #ffe03d);

        background: rgba(16, 30, 44, 0.6);

        backdrop-filter: blur(2px);
        color: #c2d99b;
        text-shadow: 0px 1px 6px rgba(55, 255, 59, 0.4);

        cursor: pointer;

        &:hover {
          filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 20px;
      display: flex;
      gap: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .plant-icon {
    height: 48px;
    width: 48px;
    border: 2px #ffe03d solid;
    border-radius: 24px;
    display: flex;
    align-items: end;
    filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
    background-color: var(--bg-secondary-color);

    svg {
      width: 120%;
      height: 120%;
      aspect-ratio: auto;
    }

    &.active {
      pointer-events: all;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(2px 2px 0px #0dff11)
          drop-shadow(-2px 2px 0px #0dff11) drop-shadow(-2px -2px 0px #0dff11)
          drop-shadow(2px -2px 0px #0dff11);
      }
    }
  }
}
