.modal {
  div[class*="content"] {
    background-color: #182d31;
    color: white;
  }

  .root {
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    .header {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      div {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2a5259;
        box-shadow: 0px 3px 0px 0px rgba(16, 30, 44, 0.2);
        backdrop-filter: blur(2px);
        cursor: pointer;
      }
    }

    .content {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      gap: 10px;

      .questions {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .item {
          display: flex;
          width: 100%;
          padding: 16px 20px;
          align-items: center;
          justify-content: space-between;
          gap: 12px;

          border-radius: 24px;
          background: linear-gradient(0deg, #3b4658 0%, #3b4658 100%), #505b6c;

          .answer-container {
          }
        }
      }

      .answers {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;
        padding: 8px;
        width: 100%;

        border-radius: 22px;
        background: #10262b;

        &-badge {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          padding: 12px;
          border-radius: 16px;
          background: linear-gradient(180deg, #7289ad 0%, #5b7091 100%), #5b7091;
          color: white;
          cursor: pointer;
          transform: translate(0, 0);

          &__green {
            background: linear-gradient(180deg, #5db476 0%, #4d9160 100%),
              #4d9160;
            box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
          }

          &__light-green {
            background: #374151;
            color: #53d076;
          }

          &__red {
            background: linear-gradient(180deg, #f28a80 0%, #af5d55 100%),
              #dd6b60;
            box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
          }

          &__light-red {
            background: #374151;
            color: #f8887d;
          }

          &__empty {
            background: rgba(28, 40, 58, 0.4);
            box-shadow: 0px -2px 0px 0px #647794 inset;
            color: transparent; /* make the text invisible */
            user-select: none; /* prevent selection of the text */
          }
        }
      }

      .bed-desired-plant {
        padding: 10px 12px;
        border-radius: 4px;
        border: 0px solid var(--Svoe, #ffe03d);

        background: rgba(16, 30, 44, 0.6);

        backdrop-filter: blur(2px);
        color: #c2d99b;
        text-shadow: 0px 1px 6px rgba(55, 255, 59, 0.4);

        cursor: pointer;

        &:hover {
          filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 20px;
      display: flex;
      gap: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .plant-icon {
    height: 48px;
    width: 48px;
    border: 2px #ffe03d solid;
    border-radius: 24px;
    display: flex;
    align-items: end;
    filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
    background-color: #2a5259;

    svg {
      width: 120%;
      height: 120%;
      aspect-ratio: auto;
    }

    &.active {
      pointer-events: all;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(2px 2px 0px #0dff11)
          drop-shadow(-2px 2px 0px #0dff11) drop-shadow(-2px -2px 0px #0dff11)
          drop-shadow(2px -2px 0px #0dff11);
      }
    }
  }
}
