.Shop {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 20px;
}

.shopHeading {
  margin-bottom: 30px;
}

.shopCardsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 40vh;
}

.not-found {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--dark);
  align-items: center;
  justify-content: center;
  top: 35vh;
  width: 100%;
}

.img {
  height: 100px;
}

.inventory-container {
  margin: 30px 0;

  .inventory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
  }
}