.Menu {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 1;
  min-width: 370px;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: #101e2ce5;
  border-radius: 40px;
  padding: 10px;
  text-align: center;

  @media (min-width: 1024px) {
    gap: 40px;
    padding: 10px 20px;
  }
}
