.Menu {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 1;
  min-width: 300px;

  @media (min-width: 768px) {
    min-width: 340px;
  }
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #000000;
  border-radius: 40px;
  padding: 10px;
  text-align: center;

  @media (min-width: 1024px) {
    gap: 40px;
    padding: 10px 20px;
  }
}

.tutorialMode {
  opacity: 0.2;
}