.app_dark_theme {
    --bg-color: #182d31;
    --inverted-bg-color: #e8e8ea;
    --bg-secondary-color: #2a5259;
    --bg-dark-color: #10262b;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
    --text-primary-color: white;
}
