.app_light_theme {
    --bg-color: #ffffff;
    --inverted-bg-color: #bd5012;
    --bg-secondary-color: #f0f0f0;
    --bg-dark-color: #e0e0e0;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
    --text-primary-color: #171A1C;
}
