.ProductCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font: var(--font-l);
  color: var(--dark);
  background: var(--light);
  border-radius: 40px;
  padding: 16px 24px;
  width: 300px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    width: 40px;
  }
}

.description-block {
  display: flex;
  flex-direction: column;

  .text {
    font-size: small;
    line-height: 1.2rem;
  }

  .additionalInfo {
    font-weight: 600;
    font-size: small;
    line-height: 1.5rem;
  }
}
