.ProductCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font: var(--font-l);
  color: var(--dark);
  background: var(--light);
  border-radius: 32px;
  padding: 16px 24px;
  width: 320px;
  overflow: hidden;
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.description-block {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  z-index: 1;

  .text {
    font-size: 12px;
    line-height: 1rem;
    margin-top: 8px;
  }

  .additionalInfo {
    font-weight: 600;
    line-height: 1rem;
    font-size: 12px;
  }
}
