.GameHeader {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  z-index: 1;
}

.left {
  position: fixed;
  left: 10px;
  z-index: 1;
  top: 10px;
}

.right {
  position: fixed;
  right: 10px;
  z-index: 1;
  top: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8px;
  }
}

.tutorialMode {
    opacity: 0.2;
}

.light {
  background: var(--light);
}
