.GameHeader {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.light {
    background: var(--light);
}
