.ShopCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--font-l);
  color: var(--dark);
  background: var(--light);
  border-radius: 40px;
  height: 300px;
  width: 300px;
  cursor: pointer;
  overflow: hidden;

  &.active {
    outline: none;
    border-color: #5abf5c;
    box-shadow: 0 0 20px #5abf5c;
  }
}

.img {
  height: 50%;
  overflow: hidden;
  padding: 16px;

  img {
    height: auto;
    max-width: 100%;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding: 20px;
}

.text {
  font: var(--font-m);
  margin-bottom: 12px;
}

.coinsCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.coinsCountText {
  font-weight: var(--font-bold);
}

.link {
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  color: #5abf5c;
  cursor: pointer;
  font-weight: var(--font-bold);
  font-size: 20px;
}
