.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    text-decoration: none;
}

.link {
    font-size: var(--font-size-xs);
    line-height: var(--font-line-xs);
}

.active {
    opacity: 1 !important;
    color: var(--green-light);
    text-shadow:0 0 10px var(--green-light),0 0 5px var(--green-light);
}

.active:after {
    position: absolute;
    bottom: -12px;
    content: "•"
}
