.Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font: var(--font-l);
  color: var(--dark);
  background: white;
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  box-shadow:
    0px 1px 1px 0px #0000001a,
    0px 2px 6px 0px #00000033;

  @media (max-width: 768px) {
    padding: 10px;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}

.clicked {
  cursor: pointer;
}

.text {
  font: var(--font-m);
  font-weight: 500;
}
