
$icon-size: 36px;
$small-icon-size: 25px;

.root {
  height: $icon-size;
  width: $icon-size;
  border: 2px #ffe03d solid;
  border-radius: 24px;
  display: flex;
  align-items: end;
  filter: drop-shadow(0px 1px 16px rgba(55, 255, 59, 0.3));
  background-color: #2a5259;

  @media (max-width: 768px) {
    height: $small-icon-size;
    width: $small-icon-size;
  }

  svg {
    width: 120%;
    height: 120%;
    aspect-ratio: auto;
  }

  &.active {
    pointer-events: all;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(2px 2px 0px #0dff11) drop-shadow(-2px 2px 0px #0dff11)
        drop-shadow(-2px -2px 0px #0dff11) drop-shadow(2px -2px 0px #0dff11);
    }
  }
}
