.LoginForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 25px;
  max-width: 100%;
}

.title {
  text-align: center;
  color: var(--text-primary-color) !important;
  margin-bottom: 20px;
}

.registration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.no-account {
  color: var(--text-primary-color);
}

.link {
  color: var(--text-primary-color);
  cursor: pointer;

  &:hover {
    color: #4cb24e;
  }
}
