.root {
  width: 100vw;
  height: 100vh;
  position: relative;
  //background: linear-gradient(241.24deg, #ffd458 0.88%, #26d20f 67.72%);
  overflow: hidden;

  .screen {
    height: 768px;
    width: 375px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #f5f5f5;

    @media (max-width: 412px) {
      width: 100%;
      min-height: 100vh;
      border-radius: unset;
    }

    .header {
      min-height: 250px;
      border-radius: 32px;
      padding: 24px 16px;
      background: linear-gradient(162.03deg, #7B64F1 0%, #EFEBFF 96.62%);
      //background: linear-gradient(180deg, #ffd400 0%, #00d901 100%);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;

      img.mask {
        position: absolute;
        height: 150%;
        left: -50%;
        bottom: -30%;

        @media (max-width: 412px) {
          display: unset;
        }
      }

      @media (max-width: 412px) {
        border-radius: 0 0 32px 32px;
      }

      .logo-badge {
        background: white;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px 8px 8px;
        border-radius: 32px;
        box-shadow: 0px 4px 10px 0px #101e2c0d;

        .image {
          height: 32px;
          width: 32px;
        }

        .logo-text {
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;

          .minor {
            font-size: 7px;
            line-height: 8px;
            text-align: left;
          }
        }
      }

      .character {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .heading {
        color: white;
        font-size: 22px;
        line-height: 26px;
        width: 200px;
      }
    }

    .new {
      border-radius: 32px;
      padding: 24px 16px;
      background: white;
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;

      .grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        flex-grow: 1;
        gap: 8px;
        color: white;

        div {
          border-radius: 16px;
          padding: 12px;
          position: relative;
          overflow: hidden;
        }

        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 135px;
          border-radius: 0 0 16px 0;
        }

        .beet {
          width: 290px;
          right: -110px;
          transform: rotate(15deg);
        }

        img.mask {
          position: absolute;
          width: 250%;
          left: -50%;
          bottom: -30%;

          @media (max-width: 412px) {
            display: unset;
          }
        }

        .farmer {
          position: relative;
          background: #ff8c00;
        }

        .crops {
          position: relative;
          border-radius: 16px;
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 2;
          background: linear-gradient(180deg, #00D901 0%, #FFF400 100%);
        }

        .animals {
          position: relative;
          background: #32bfc8;
        }
      }
    }

    .form {
      border-radius: 32px;
      padding: 24px 16px;
      background: white;
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (max-width: 412px) {
        border-radius: 32px 32px 0 0;
      }

      button {
        display: block;
        border-radius: 16px;
        border: none;
        height: 48px;
        background: white;
        color: #1ccb01;
        cursor: pointer;

        &.play {
          background: #1ccb01;
          color: white;
        }
      }
    }
  }

  img.mask {
    position: absolute;
    height: 150%;
    left: -50%;
    bottom: -30%;

    @media (max-width: 412px) {
      display: none;
    }
  }
}
