.Heading {
    color: var(--dark);
    font-weight: 500;

    &.level {
        &-1 {
            font-size: var(--font-line-xl);
        };

        &-2 {
            font-size: var(--font-line-l);
        }
    }
}

