.TaskCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--font-l);
    color: var(--dark);
    background: var(--light);
    border-radius: 4px;
    padding: 4px 16px 4px 16px;
    opacity: 0.8;
}

.text {
    font: var(--font-m);
}

.coinsCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.coinsCountText {
    font-weight: var(--font-bold);;
}

.active {
    background: var(--dark);
    color: var(--green-light);
    text-shadow:0 0 10px var(--green-light),0 0 5px var(--green-light);
}
