.AuthModal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 25px;

  p {
    color: var(--text-primary-color) !important;
  }
}

.link {
  color: var(--text-primary-color);
  cursor: pointer;

  &:hover {
    color: #4cb24e;
  }
}

.registration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.back-button {
  position: absolute;
  left: 0;
}