.MessageCard {
    position: relative;
    display: flex;
    font: var(--font-l);
    color: var(--dark);
    background: var(--light);
    width: 330px;
    min-height: 100px;
    border-radius: 25px;
    padding: 20px;
    cursor: pointer;
}

.text {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
}

.close-icon {
    position: absolute;
    right: -17px;
    top: -20px;
    cursor: pointer;
}
